<app-sidenav></app-sidenav>
<main class="travels">
  <section class="tab-container">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Viajes Pendientes">
        <div class="mat-elevation-z8">
        <table mat-table [dataSource]="viajesPendientes">
      
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.fullName}} </td>
          </ng-container>
    
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Dirección </th>
            <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.address}} </td>
          </ng-container>
      
    
          <ng-container matColumnDef="statusTravel">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.lastStatusTravel}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons 
                      aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-tab>


      <mat-tab label="Viajes en Curso">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="viajesEnCurso">
        
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef> Cliente </th>
              <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.fullName}} </td>
            </ng-container>
      
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Dirección </th>
              <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.address}} </td>
            </ng-container>
        
      
            <ng-container matColumnDef="statusTravel">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.lastStatusTravel}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </mat-tab>

      
      <mat-tab label="Viajes Activos">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="viajesActivos">
        
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef> Cliente </th>
              <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.fullName}} </td>
            </ng-container>
      
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Dirección </th>
              <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.address}} </td>
            </ng-container>
        
      
            <ng-container matColumnDef="statusTravel">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.lastStatusTravel}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
</section>
</main>