<app-sidenav></app-sidenav>
<main class="travels">
  <section class="tab-container">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Viajes Pendientes">
        <div class="mat-elevation-z8">
        <table mat-table [dataSource]="viajesPendientes">
      
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.fullName}} </td>
          </ng-container>
    
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Dirección </th>
            <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.address}} </td>
          </ng-container>
      
    
          <ng-container matColumnDef="statusTravel">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.lastStatusTravel}}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Cambiar Estado </th>
            <td mat-cell *matCellDef="let element"><button [matMenuTriggerFor]="menu" mat-raised-button color="accent">Menu</button>
              <mat-menu #menu="matMenu">
                <button (click)="changeStatusViaje(element.id, 1, 0, false)" mat-menu-item>1: Solicitud de Retiro</button>
                <button (click)="changeStatusViaje(element.id, 2, 0, false)" mat-menu-item>2: Retiro Asignado</button>
                <button (click)="changeStatusViaje(element.id, 3, 0, false)" mat-menu-item>3: Retirado</button>
                <button (click)="changeStatusViaje(element.id, 4, 0, false)" mat-menu-item>4: En Reparación</button>
                <button (click)="changeStatusViaje(element.id, 5, 0, false)" mat-menu-item>5: Reparado</button>
                <button (click)="changeStatusViaje(element.id, 6, 0, false)" mat-menu-item>6: Entrega Asignada</button>
                <button (click)="changeStatusViaje(element.id, 7, 0, false)" mat-menu-item>7: Pendiente de Entrega</button>
                <button (click)="changeStatusViaje(element.id, 8, 0, false)" mat-menu-item>8: Entregado</button>
              </mat-menu>
            </td>
          </ng-container>

          <ng-container matColumnDef="reassigned">
            <th mat-header-cell *matHeaderCellDef> ¿Está Renunciando al viaje? </th>
            <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select [formControl]="renunciar" [(value)]="element.id">
                <mat-option value="true">Si, renunciar</mat-option>
                <mat-option value="false">No renuncia</mat-option>
            </mat-select>
            </mat-form-field>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons 
                      aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-tab>


      <mat-tab label="Viajes en Curso">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="viajesEnCurso">
        
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef> Cliente </th>
              <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.fullName}} </td>
            </ng-container>
      
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Dirección </th>
              <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.address}} </td>
            </ng-container>
        
      
            <ng-container matColumnDef="statusTravel">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.lastStatusTravel}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Cambiar Estado </th>
              <td mat-cell *matCellDef="let element"><button [matMenuTriggerFor]="menu" mat-raised-button color="accent">Menu</button>
                <mat-menu #menu="matMenu">
                  <button (click)="changeStatusViaje(element.id, 1, 0, false)" mat-menu-item>1: Solicitud de Retiro</button>
                  <button (click)="changeStatusViaje(element.id, 2, 0, false)" mat-menu-item>2: Retiro Asignado</button>
                  <button (click)="changeStatusViaje(element.id, 3, 0, false)" mat-menu-item>3: Retirado</button>
                  <button (click)="changeStatusViaje(element.id, 4, 0, false)" mat-menu-item>4: En Reparación</button>
                  <button (click)="changeStatusViaje(element.id, 5, 0, false)" mat-menu-item>5: Reparado</button>
                  <button (click)="changeStatusViaje(element.id, 6, 0, false)" mat-menu-item>6: Entrega Asignada</button>
                  <button (click)="changeStatusViaje(element.id, 7, 0, false)" mat-menu-item>7: Pendiente de Entrega</button>
                  <button (click)="changeStatusViaje(element.id, 8, 0, false)" mat-menu-item>8: Entregado</button>
                </mat-menu>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="reassigned">
              <th mat-header-cell *matHeaderCellDef> ¿Está Renunciando al viaje? </th>
              <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select [formControl]="renunciar" [(value)]="element.id">
                  <mat-option value="true">Si, renunciar</mat-option>
                  <mat-option value="false">No renuncia</mat-option>
              </mat-select>
              </mat-form-field>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </mat-tab>

      
      <mat-tab label="Viajes Activos">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="viajesActivos">
        
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef> Cliente </th>
              <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.fullName}} </td>
            </ng-container>
      
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Dirección </th>
              <td mat-cell *matCellDef="let element"> {{element.travelEquipmentDTOs[0].operator.address}} </td>
            </ng-container>
        
      
            <ng-container matColumnDef="statusTravel">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.lastStatusTravel}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Cambiar Estado </th>
              <td mat-cell *matCellDef="let element"><button [matMenuTriggerFor]="menu" mat-raised-button color="accent">Menu</button>
                <mat-menu #menu="matMenu">
                  <button (click)="changeStatusViaje(element.id, 1, 0, false)" mat-menu-item>1: Solicitud de Retiro</button>
                  <button (click)="changeStatusViaje(element.id, 2, 0, false)" mat-menu-item>2: Retiro Asignado</button>
                  <button (click)="changeStatusViaje(element.id, 3, 0, false)" mat-menu-item>3: Retirado</button>
                  <button (click)="changeStatusViaje(element.id, 4, 0, false)" mat-menu-item>4: En Reparación</button>
                  <button (click)="changeStatusViaje(element.id, 5, 0, false)" mat-menu-item>5: Reparado</button>
                  <button (click)="changeStatusViaje(element.id, 6, 0, false)" mat-menu-item>6: Entrega Asignada</button>
                  <button (click)="changeStatusViaje(element.id, 7, 0, false)" mat-menu-item>7: Pendiente de Entrega</button>
                  <button (click)="changeStatusViaje(element.id, 8, 0, false)" mat-menu-item>8: Entregado</button>
                </mat-menu>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="reassigned">
              <th mat-header-cell *matHeaderCellDef> ¿Está Renunciando al viaje? </th>
              <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select [formControl]="renunciar" [(value)]="element.id">
                  <mat-option value="true">Si, renunciar</mat-option>
                  <mat-option value="false">No renuncia</mat-option>
              </mat-select>
              </mat-form-field>
              </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </mat-tab>
    </mat-tab-group>
</section>
</main>