.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    height:100vh;
    width: 2%;
    background-color: #C7E8F3;
    position: absolute;
    left: 0;
}

.logo{
    max-height: 80px;
}


button{
    margin:5px;
}
