<header class="header-container">
    <div>
        <img class="logo" src="../../../../assets/Logo Color.svg" alt="">
    </div>
        <button mat-mini-fab color="accent" routerLink="/dash" aria-label="Example icon button with a filter list icon">
            <mat-icon>home</mat-icon>
        </button>

        <button mat-mini-fab color="accent" routerLink="/viajes" aria-label="Example icon button with a filter list icon">
            <mat-icon>explore</mat-icon>
        </button>

        <button mat-mini-fab color="accent" routerLink="/clientes" aria-label="Example icon button with a filter list icon">
            <mat-icon>people</mat-icon>
        </button>

        <button mat-mini-fab color="accent" routerLink="/historial" aria-label="Example icon button with a filter list icon">
            <mat-icon>history</mat-icon>
        </button>
 

</header>