<header class="header-container">
    <div>
        <img class="logo" src="../../../../assets/Logo Color.svg" alt="">
    </div>

    <div class="links">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a filter list icon">
            <mat-icon>filter_list</mat-icon>
        </button>

        <button mat-mini-fab color="accent" aria-label="Example icon button with a filter list icon">
            <mat-icon>filter_list</mat-icon>
        </button>

        <button mat-mini-fab color="accent" aria-label="Example icon button with a filter list icon">
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>

</header>