<div class="Titulo"><h2>Listado de Clientes</h2></div>

<div class="tab-container">
    <table mat-table [dataSource]="dataSource">

    <!-- Admin -->
    <ng-container  matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td [matMenuTriggerFor]="menu" class="clickable"  mat-cell *matCellDef="let element">
        {{element.fullName}} 
        <mat-menu #menu="matMenu">
            <button (click)="modificarNombre(element)" mat-menu-item>Modificar</button>
            <button (click)="deleteUser(element)" mat-menu-item>Eliminar</button>
        </mat-menu>
        </td>
    </ng-container>

    <!-- Cliente FullName -->
    <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.rol.name}}
        </td>
    </ng-container>

    <!-- Direccion -->
    <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td [matMenuTriggerFor]="menu3" mat-cell *matCellDef="let element"> {{element.address}}
            <mat-menu #menu3="matMenu">
                <button (click)="modificarDireccion(element)" mat-menu-item>Modificar</button>
            </mat-menu>
        </td>
    </ng-container>

    <!-- Cellphone -->
    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td [matMenuTriggerFor]="menu4" mat-cell *matCellDef="let element"> {{element.cellPhone}}
            <mat-menu #menu4="matMenu">
                <button (click)="modificarTelefono(element)" mat-menu-item>Modificar</button>
            </mat-menu>
        </td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td  [matMenuTriggerFor]="menu2" mat-cell *matCellDef="let element"> {{element.email}}
            <mat-menu #menu2="matMenu">
                <button (click)="modificarEmail(element)" mat-menu-item>Modificar</button>
            </mat-menu>
        </td>
    </ng-container>

    <!-- Vehiculo -->
    <ng-container matColumnDef="vehiculo">
        <th mat-header-cell *matHeaderCellDef> Vehiculo </th>
        <td [matMenuTriggerFor]="menu5" mat-cell *matCellDef="let element"> {{element.vehicle?.name || 'Sin Vehiculo'}}
            <mat-menu #menu5="matMenu">
                <button (click)="modificarVehiculo(element)" mat-menu-item>Modificar</button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[3,6]"
                showFirstLastButtons 
                aria-label="Select page of periodic elements">
    </mat-paginator>
</div>