table {
    width: 100%;
  }

.tab-container{
  max-width: 80%;
  padding: 100px;
  padding-top: 50px;
}

main{
  margin-left: 70px;
}

h1{
  padding-top: 20px;
  text-align: center;
  color: #e63946;
}
